<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="admin.css">
</head>
<body>
    <table>
   <tr>
    <td>Sunday</td>
    {{#each data.Sunday}}
    <td class="{{#if (eq ../classifications.Sunday "not-enough")}}not-enough{{else if (eq ../classifications.Sunday "enough")}}enough{{else}}too-much{{/if}}">
        {{this}}
    {{/each}}</td>
</tr>
 </table>
    <form action="/admin-feedback/reset-schedule" method="post">
        <button type="submit">Reset Schedule</button>
    </form>
</body>
</html>