<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h2>Welcome, Thembi!</h2>

  <h3>Your Current Schedule:</h3>
  {{#each schedule}}
    <p>{{this}}</p>
  {{/each}}

  <h3>Select Available Days:</h3>
  <form action="/waiter/update/Thembi" method="post">
    <div>
        <label for="day1">Monday</label>
        <input type="checkbox" id="day1" name="days[]" value="Monday">
    </div>

    <div>
        <label for="day2">Tuesday</label>
        <input type="checkbox" id="day2" name="days[]" value="Tuesday">
    </div>

    <div>
        <label for="day3">Wednesday</label>
        <input type="checkbox" id="day3" name="days[]" value="Wednesday">
    </div>

    <div>
        <label for="day4">Thursday</label>
        <input type="checkbox" id="day4" name="days[]" value="Thursday">
    </div>

    <div>
        <label for="day5">Friday</label>
        <input type="checkbox" id="day5" name="days[]" value="Friday">
    </div>

    <div>
        <label for="day6">Saturday</label>
        <input type="checkbox" id="day6" name="days[]" value="Saturday">
    </div>

    <div>
        <label for="day7">Sunday</label>
        <input type="checkbox" id="day7" name="days[]" value="Sunday">
    </div>

    <div>
        <button type="submit">Update Schedule</button>
    </div>
</form>

</body>
</html>
