<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/waiter.css">
    <title>Waiter Schedule App</title>
</head>
<body>
    <h1>Waiter Schedule App</h1>
    
    <h3>Welcome to the waiter app Please follow the instruction bellow in order to understand this app</h3> 


    <div class="container">
     <h2>Instructions:</h2>
    <ol class="the_list">
        <li>In order to see your schedule, type your name in the URL eg localhost:3000/waiter/Sipho</li>
        <li>On the next page you will see eg Welcome , Sipho</li>
        <li>Select your schedule days and press the "Submit Schedule" button.</li>
        <li>If you want to see your scheduled days use the URL localhost:3000/days </li>
        <li>If you want go back to the home page with instruction use localhost:3000 </li>
        <li>Please ensure your schedule is accurate and up-to-date.</li>
    </ol>
    </div>
    

  
</body>
</html>

