<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiter Schedule</title>
</head>
<body>
    <h1>Waiter Schedule</h1>
    
    <!-- Add a link to Thembi's Schedule -->
    <p><a href="/waiter/Thembi">Thembi's Schedule</a></p>
    <p><a href="/waiter/Angel">Angel's Schedule</a></p>
    <p><a href="/waiter/Sipho">Sipho's Schedule</a></p>
    
   
</body>
</html>
