<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/waiter.css">
    <title>Waiter Schedule App</title>
</head>
<body>
    <h1>Waiter Schedule App</h1>
    
    <h3>Welcome to the waiter app please follow the instruction bellow:</h3> 


    <div class="container">
     <h2>Instructions:</h2>
    <ol class="the_list">
        <li>In order to see your schedule, type your name in the URL above.</li>
        <li>Select your schedule and press the "Update" button to make changes.</li>
        <li>select only 5 days per week</li>
        <li>You can only update your own schedule, not schedules of other waiters.</li>
        <li>Please ensure your schedule is accurate and up-to-date.</li>
        <li>If you encounter any issues or have questions, contact the admin for assistance.</li>
    </ol>
    </div>
    

  
</body>
</html>

