table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    color: white;
}

th, td {
    border: 1px solid white;
    text-align: center;
    padding: 8px;
}

#resetButton {
    display: block;
    margin-right: 20px;
    
}

body{
  
    background-image: url('./images/themby.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
     color: white;
}
td .not-enough {
  /* Style the cells with "not-enough" classification */
  background-color: red;
}

 td .too-much{
  /* Style the cells with "too-much" classification */
  background-color: blue;
}


/* Apply background colors to the table cells */
 td .enough  {
  /* Style the cells with "enough" classification */
  background-color: green;
}

