body{
    background-image: url('./images/Sipho@.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white
}

.error-message{
 color:red;
}

/* .successMessage{
    color:green;
} */

.successMessage{
    color: green;

}