body{
    background-image: url('./images/Angie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white
}

.error-message{
 color:red;
}

/* .successMessage{
    color:green;
} */

.successMessage{
    color: green;

}

.container {
    text-align: center;
    border: 2px solid white;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .day-label {
    font-size: 25px; /* Adjust the font size as needed */
  }
  
  h3{
    font-size: 30px;
  }