body{
    background-color: white;
    background-image: url('./images/coffe\ shop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white
}
.container {
    text-align: center;
    background-color: lightcoral;
    padding-bottom: 150px;
    margin-right: 50px;
    margin-left: 200px;
    color: white;
}


.the_list li {
    text-align: center; /* Adjust list item text alignment */
    margin-bottom: 10px;
    margin-right: 50px;
     /* Add some vertical spacing between list items */
}


