body{
    background-color: white;
    background-image: url('./images/coffe\ shop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white

}
.container{
    text-align: center;
    background-color: white;
    padding: 20px; 
    margin-right: 50px;
    margin-left: 200px;
    color: black;
}

.the_list li {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 50px;
}
